:root {
    --background-color: #191925;
    --background-header-color: rgba(0, 0, 0, 0.3);
    --text-color: #28da06;
    --main-font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-color: var(--background-header-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.buttons_header {
    padding: 10px;
    margin: 0 2px 2px 2px;
    width: 100px;
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--main-font-family);
    font-size: 18px;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: 0.4s;
}

.buttons_header:hover {
    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
    border-right: 1px solid blue;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(4, 255, 226, 0.8);
}

.main {
    /*margin: 20px 10% 0 10%;*/
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
}

.container-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.task {
    /*margin-top: 0;*/
    /*padding: 10px 5px 10px 5px;*/
    /*border: black 1px solid;*/
    /*border-radius: 5px;*/
    /*width: 30%;*/
    /*margin: 10px;*/
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: max-content;
    /*width: calc(30% - 20px);*/
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

.task:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
    color: var(--text-color);
}

h2 {
    margin: 0;
}